<div id="app">
    <div  class="task" v-for="task in taskList">
        <h2 class="name">{{ task.name }}</h2>
        <ul class="item">
            <li v-for="item in task.items" v-on:click="changeStatus(item)" v-bind:class="'status' + item.status">
                <div>
                    {{ item.name }}
                    <span v-if="item.status == 2">(√)</span>
                    <span v-if="item.status == 3">(×)</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="line"></div>
    <div class="time1">{{ currentTime1 }}</div>
    <div class="time2">{{ currentTime2 }}</div>
</div>

<style type="text/css">
body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}
.line {
    background: #CCCCCC;
    width: 0.2%;
    height: 100%;
    position: absolute;
    left: 49.9%;
}
.task {
    width: 50%;
    float: left;
    text-align: center;
    background: white;
}
.name {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 140px;
    font-size: 60px;
    font-weight: normal;
}
.item {
    margin: 0;
    padding: 0;
}
.item li {
    display: block;
    width: 50%;
    float: left;
    margin: 0;
    line-height: 140px;
    font-size: 30px;
}
.item li div {
    margin: 5px;
    background-color: #EEEEEE;
}
.item li.status2 div {
    background-color: #a6e22e;
}
.item li.status3 div {
    background-color: #f4bf4f;
}
.time1, .time2 {
    font-size: 52px;
    position: absolute;
    right: 13px;
    bottom: 5px;
}
.time2 {
    bottom: 60px;
    font-size: 100px;
    font-weight: bold;
}
</style>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript">
var app = new Vue({
  el: '#app',
  data: {
    currentDay: 0,
    currentTime1: "",
    currentTime2: "",
    taskList: [
        {
            name: '曾天宇',
            items: [ 
                {
                    name: 'AD',
                    status: 1,
                },
                {
                    name: 'D3',
                    status: 1,
                },
                {
                    name: '钙',
                    status: 1,
                },
                {
                    name: '200奶',
                    status: 1,
                },
                {
                    name: '200奶',
                    status: 1,
                },
            ]
        },
        {
            name: '曾天艺',
            items: [ 
                {
                    name: 'AD',
                    status: 1,
                },
                {
                    name: 'D3',
                    status: 1,
                },
            ]
        },
    ]
  },
  methods: {
    changeStatus: function(item) {
        item.status = item.status + 1;
        if (item.status > 3) {
            item.status = 1;
        }
    },
    checkDayChange: function() {
        if (this.currentDay != new Date().getDate()) {
            this.taskList.forEach(function(task) {
                task.items.forEach(function(item) {
                    item.status = 1;
                });
            });
            this.currentDay = new Date().getDate();
        }
    },
    timeUpdate: function() {
        var current = new Date();
        this.currentTime1 = current.getFullYear() + '年' + this.formatNumber((current.getMonth() + 1)) + '月' + this.formatNumber(current.getDate()) + '日';
        this.currentTime2 = this.formatNumber(current.getHours()) + ":" + this.formatNumber(current.getMinutes()) + ":" + this.formatNumber(current.getSeconds());
        this.checkDayChange();
    },
    formatNumber: function(value) {
        if (value >= 10) {
            return value;
        }
        return "0" + value;
    },
  },
  created: function() {
    this.timeUpdate();
    setInterval(this.timeUpdate, 1000);
  },
});
</script>