<div id="app">
    <div  class="task" v-for="task in taskList">
        <h2 class="name">{{ task.name }}</h2>
        <ul class="item">
            <li v-for="item in task.items" v-on:click="changeStatus(item)" v-bind:class="'status' + item.status + ' ' + item.class">
                <div>
                    {{ item.name }}
                    <span v-if="item.status == 2">(√)</span>
                    <span v-if="item.status == 3">(×)</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="line"></div>
    <div class="time1">{{ currentTime1 }}</div>
    <div class="time2">{{ currentTime2 }}</div>
    <div class="lastDayInfo"><div v-html="lastDayInfo"></div></div>
</div>

<style type="text/css">
    body {
        margin: 0;
        padding: 0;
        font-family: "Arial";
    }
    .line {
        width: 0.2%;
        height: 100%;
        position: absolute;
        left: 49.9%;
    }
    .task {
        width: 50%;
        float: left;
        text-align: center;
    }
    .name {
        margin: 0;
        padding: 0;
        vertical-align: middle;
        line-height: 140px;
        font-size: 80px;
        font-weight: normal;
    }
    .item {
        margin: 0;
        padding: 0;
    }
    .item li {
        display: block;
        width: 50%;
        float: left;
        margin: 0;
        line-height: 140px;
        font-size: 40px;
    }
    .item li.milk {
        width: 33.33%;
    }
    .item li div {
        margin: 5px;
        font-weight: bold;
        border: 2px solid black;
    }
    .time1, .time2 {
        font-size: 62px;
        position: absolute;
        right: 13px;
        bottom: 5px;
    }
    .time2 {
        bottom: 70px;
        font-size: 160px;
        font-weight: bold;
    }
    .lastDayInfo {
        width: 50%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        font-size: 28px;
    }
    .lastDayInfo div {
        padding: 5px;
    }

    /* 黑色主题 */
    .line {
        background: #909090;
    }
    body {
        color: yellow;
        background: black;
    }
    .item li.status1 div {
        border-color: yellow;
    }
    .item li.status2 div {
        background-color: #a6e22e;
        color: black;
        border-color: #a6e22e;
    }
    .item li.status3 div {
        background-color: #f4bf4f;
        color: black;
        border-color: #f4bf4f;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        currentDay: -1,
        currentTime1: "",
        currentTime2: "",
        lastDayInfo: "",
        taskList: [
            {
                name: '曾天宇',
                items: [ 
                    {
                        name: 'AD',
                        status: 1,
                    },
                    {
                        name: 'D3隔天',
                        status: 1,
                    },
                    {
                        name: '奶+钙',
                        status: 1,
                    },
                    {
                        name: 'DHA',
                        status: 1,
                    },
                    {
                        name: '奶+钙',
                        status: 1,
                    },
                ]
            },
            {
                name: '曾天艺',
                items: [ 
                    {
                        name: 'AD',
                        status: 1,
                    },
                    {
                        name: 'D3隔天',
                        status: 1,
                    },
                    {
                        name: '奶',
                        status: 1,
                        class: 'milk'
                    },
                    {
                        name: '奶',
                        status: 1,
                        class: 'milk'
                    },
                    {
                        name: '奶',
                        status: 1,
                        class: 'milk'
                    },
                ]
            },
        ]
      },
      methods: {
        changeStatus: function(item) {
            item.status = item.status + 1;
            if (item.status > 3) {
                item.status = 1;
            }
        },
        checkDayChange: function() {
            var currentDay = new Date().getDate();
            if (this.currentDay != currentDay) {
                if (this.currentDay != -1) {
                    this.updateLastDayInfo();
                }
            
                this.taskList.forEach(function(task) {
                    task.items.forEach(function(item) {
                        if (item.name == 'D3隔天' && item.status == 2) {
                            item.status = 3;
                            return;
                        }
                        item.status = 1;
                    });
                });
                this.currentDay = currentDay;
            }
        },
        updateLastDayInfo: function() {
            this.lastDayInfo  = "昨天: <br />";
            var _this = this;
            this.taskList.forEach(function(task) {
                _this.lastDayInfo += task.name + ": ";
                task.items.forEach(function(item) {
                    _this.lastDayInfo += item.name.replace("隔天", '').replace('+钙', '');
                    _this.lastDayInfo += item.status == 2 ? '√' : '×';
                    _this.lastDayInfo += " ";
                });
                _this.lastDayInfo += "<br />";
            });
        },
        timeUpdate: function() {
            var current = new Date();
            this.currentTime1 = (current.getMonth() + 1) + '月' + current.getDate() + '日';
            this.currentTime2 = this.formatNumber(current.getHours()) + ":" + this.formatNumber(current.getMinutes());
            this.checkDayChange();
        },
        formatNumber: function(value) {
            if (value >= 10) {
                return value;
            }
            return "0" + value;
        },
      },
      created: function() {
        this.timeUpdate();
        setInterval(this.timeUpdate, 1000);
      },
    });
</script>