---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/cerulean/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">曾文超</a>
    <ul class="nav">
      <li><a href="#">链接</a></li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
      {{page.content}}
    </div>
    <div class="span2">
      <h3>简介</h3>
      <p>说些什么...</p>
      <hr />
      <address>
        目前: 上海 | <a href="http://www.augmentum.com.cn/">群硕</a><br />
        Email:<a href="mailto:zwc1986@126.com<">zwc1986@126.com</a><br/>
        QQ: 361773643
      </address>
    </div>
  </div>
</div>
    
    
  </body>
</html>
